html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url(../images/motore-blur.jpg);
  background-position: center;
  background-size: cover;
  overflow: auto;
}

.topnav {
  overflow: unset;
  /*position: fixed;*/
  top: 0;
  width: 100%;
}

.map-container {
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 24px;
  margin-bottom: 24px;
}

#map {
  height: 500px;
}

.map-container p {
  font-size: 17px;
  color: whitesmoke;
  text-align: center;
  padding: 4px;
}
